.App {
  text-align: center;
  width: 1024px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.puzzle-group {
  width: 100%;
  height: 350px;
}

.solve {
  margin-top: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}